h1{
	font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
		text-rendering: optimizeLegibility;
		margin-bottom: 0;
}
.wrapper{
	border: 1px solid #eee;
	text-align: center;
	width: 500px;
	border-bottom: 1px solid #eee;
	margin: auto;
	.Header{
		padding: 10px 5px;
		display: flex;
		border-bottom: 1px solid #eee;

		img{
			width: 30px;
			height: 30px;
			cursor: pointer;
			align-self: center;
			margin-right: 15px;
		}
		input{
			font-family: 'Helvetica Neue',
				Arial, Helvetica, sans-serif;
			font-weight: 300;
			font-size: 24px;
			outline: none;
			border: none;
			width: 100%;
		}
	}
	.Wrapper-progress{
		height: 51px;
		border-bottom: 1px solid #eee;
		display: flex;
		.number-percent{
			margin-left: 5px;
			font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
			font-weight: 300;
			font-size: 14px;
			color: #4d4d4d;

			width: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.block-percent{
			width: 440px;
			height: 10px;
			border: 1px solid #eee;
			margin: auto;
			margin-right: 10px;
			border-radius: 7px;
			.run-percent{
				transition: all 0.5s ease 0s;
				background: #5ba4cf;
				height: 10px;
				border-radius: 7px;
			}
		}
	}
	.TodoItem {
		position: relative;
		border-bottom: 1px solid #eee;
		padding: 10px 5px;
		display: flex;
		.btn-del{
			position: absolute;
			right: 10px;
			background: url('../images/close.svg');
			background-repeat: no-repeat;
			outline: none;
			width: 16px;
			height: 16px;
			border: none;
			align-self: center;
			display: none;
			cursor: pointer;
		}
		&:hover{
			.btn-del{
				display: block;
			}
		}
		:last-child{
			border-bottom: none;
		}
		p{
			font-family: 'Helvetica Neue',
				Arial, Helvetica, sans-serif;
			font-weight: 300;
			font-size: 24px;
			color: #4d4d4d;
			margin: 0 30px 0 15px;
			word-break: break-all;
		}
		img{
			width: 30px;
			height: 30px;
			cursor: pointer;
			align-self: center;
		}
	}
	.TodoItem-completed > p{
		text-decoration: line-through;
		opacity: .3;
		transition: opacity 0.5s;
	}

	.Footer{
		width: 500px;
		.quantity-list{

			font-family: 'Helvetica Neue',
				Arial, Helvetica, sans-serif;
			font-weight: 300;
			font-size: 12px;
			color: #4d4d4d;
		}
	}
}

